<div class='navbar navbar-default'>
  <div class='container'>
    <div class='navbar-header'>
      <a class='navbar-brand' href="#"?>Bloggr</a>
    </div>
    <ul class='nav navbar-nav'>
      <li>{{#linkTo "posts"}}Posts{{/linkTo}}</li>
      <li>{{#linkTo "about"}}About{{/linkTo}}</li>
    </ul>
  </div>
</div>

<div class='container'>
  {{outlet}}
</div>
